html,body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

*{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

.box-card{
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px;
}

.card{
	width: 300px;
	height: 100px;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	background: white;
	transition: 0.3s all;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.card:hover{
	background: #009688;
	box-shadow: 0px 0px 20px #009688;
}

.card:hover h1,.card:hover h3{
	color: white;
}

.card h1{
	width: 100%;
}

.card h3{
	width: 100%;
	font-size: 14px;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box {
	min-width: 300px;
	max-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

button{
	width: fit-content;
	height: fit-content;
	padding: 15px;
	border-radius: 10px;
	border: none;
	background: #009688;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

h3{
	font-size: 1.7rem;
}

.title{
	font-size: 2.5rem;
	font-weight: bold;
}
