html,body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

*{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box {
	min-width: 300px;
	max-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

button{
	width: fit-content;
	height: fit-content;
	padding: 15px;
	border-radius: 10px;
	border: none;
	background: #009688;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

h3{
	font-size: 1.7rem;
}

.title{
	font-size: 2.5rem;
	font-weight: bold;
}